#cubeholder{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 70px;
	height: 50px;
}

#textCube {
	position: relative;
	bottom: 150px;
	right: 100px;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transform-origin: 50px 50px 0px;
}

#cubeRotateCheck:checked ~ #textCube {
	animation-name: rotatey;
	animation-duration: 10s;
	animation-iteration-count: infinite;
} 

#cubeStaticCheck:checked ~ #textCube {
	transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg);
} 

#cubeRotateCheck:checked ~ [for=cubeRotateCheck],
#cubeStaticCheck:checked ~ [for=cubeStaticCheck] {
	background-color: #aeff81;
} 

[name=rotorstatic] { display: none; }

#cubeholder label { padding: 3px; }

@keyframes rotatey {
	0% { transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); }
	25% { transform: rotateX(370deg) rotateY(10deg) rotateZ(10deg); }
	50% { transform: rotateX(10deg) rotateY(370deg) rotateZ(10deg); }
	75% { transform: rotateX(10deg) rotateY(10deg) rotateZ(370deg); }
	100% { transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); }
}

#textCube textarea {
	position: absolute;
	top: 0px;
	left: 0px;
}

textarea {
	resize: none;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: 800;
	font-size: 28px;
	letter-spacing: 12px;
	line-height: 31px;
	text-align: center;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 4px;
}

.tcF { transform: translateZ(50px); }
.tcB { transform: rotateX(180deg) translateZ(50px); }
.tcU { transform: rotateX(90deg) translateZ(50px); }
.tcD { transform: rotateX(-90deg) translateZ(50px); }
.tcL { transform: rotateY(-90deg) translateZ(50px); }
.tcR { transform: rotateY(90deg) translateZ(50px); }

.tcF { color:#FF0000; }
.tcB { color:#FF7043; }
.tcU { color:#dedede; }
.tcD { color:#FFB300; }
.tcL { color:#2e8800; }
.tcR { color:#1565C0; }
