#cubeholder {
	position:fixed;
	bottom:0;
	right:0;
	perspective: 1600px;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
}

#textCube {
	position: absolute;
	bottom: calc(50% + 100px);
	right: calc(50% + 100px);
	width: 400px;
	height: 400px;
	transform-style: preserve-3d;
	transform: translateZ(-2000px) !important;
	transform-origin: 200px 200px 0px;
	animation-name: rotatey;
	animation-duration: 30s;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	animation-iteration-count: infinite;
}


@keyframes rotatey {
	0% { transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); }
	25% { transform: rotateX(370deg) rotateY(10deg) rotateZ(10deg); }
	50% { transform: rotateX(10deg) rotateY(370deg) rotateZ(10deg); }
	75% { transform: rotateX(10deg) rotateY(10deg) rotateZ(370deg); }
	100% { transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); }
}

#textCube textarea {
	position: absolute;
	top: 0px;
	left: 0px;
	resize: none;
	width: 400px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: 800;
	font-size: 112px;
	letter-spacing: 48px;
	line-height: 130px;
	text-align: center;
	overflow: hidden;
	padding-left: 50px;
	padding-top: 4px;
}

.tcF { transform: translateZ(200px); }
.tcB { transform: rotateZ(180deg) translateZ(-200px); }
.tcU { transform: translateY(-200px) rotateX(90deg); }
.tcD { transform: translateY(200px) rotateX(270deg); }
.tcL { transform: translateX(-200px) rotateY(270deg); }
.tcR { transform: translateX(200px) rotateY(90deg); }

.tcF { color:#FF0000; }
.tcB { color:#FF7043; }
.tcU { color:#dedede; }
.tcD { color:#FFB300; }
.tcL { color:#2e8800; }
.tcR { color:#1565C0; }


#logBox {
	position:fixed;
	bottom:5px;
	left:5px;
	width:325px;
	height:500px;
	white-space:nowrap;
	resize:none;
	background-color:transparent;
}
