.cubeholder, .rube_cube, .rube_cube > div {
	position: absolute;
	width: 148px;
	height: 148px;
}

.cubeholder {
	perspective: 400px;
	/* perspective: 250px; */
	perspective-origin: 50% 50%;
}

.maincube {
	top: 100px;
	right: 100px;
}


.prevone {
	top: 100px;
	left: 100px;
}
.prevone > div {
	transform: rotateX(330deg) rotateY(315deg) rotateZ(0deg);
}

.prevtwo {
	top: 400px;
	left: 100px;
}
.prevtwo > div {
	transform: rotateX(150deg) rotateY(315deg) rotateZ(0deg);
}

.rube_cube {
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0;
	/* transform: rotateX(330deg) rotateY(315deg) rotateZ(0deg); */
}

.rube_cube > div {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	border-radius: 5px;
	border: 3px solid;
	background-color: rgb(0,0,0,1);
	opacity: 0.87;
}

.rcf { transform: translateZ(75px); }
.rcb { transform: rotateX(180deg) translateZ(75px); }
.rcu { transform: rotateX(90deg) translateZ(75px); }
.rcd { transform: rotateX(-90deg) translateZ(75px); }
.rcl { transform: rotateY(-90deg) translateZ(75px); }
.rcr { transform: rotateY(90deg) translateZ(75px); }

[class*=rcf] { background-color: rgba(255, 0,   0,   1); }
[class*=rcb] { background-color: rgba(255, 99,  21,  1);}
[class*=rcu] { background-color: rgba(204, 204, 204, 1);}
[class*=rcd] { background-color: rgba(255, 194, 50,  1);}
[class*=rcl] { background-color: rgba(46,  136, 0,   1); }
[class*=rcr] { background-color: rgba(0,   145, 255, 1);}

[class*=rc] > div {
	display:inline-block;
	margin: 2px;
	border-radius: 5px;
	width: calc(25% - 4px);
	height: calc(25% - 4px);
}

.rotatey {
	animation-name: rotatey;
	animation-duration: 20s;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	animation-iteration-count: infinite;
	/* animation-play-state: paused; */
}

@keyframes rotatey {
	0%    { transform: rotateX(45deg)   rotateY(45deg)   rotateZ(45deg);   }
	33.3% { transform: rotateX(405deg) rotateY(45deg)   rotateZ(45deg);   }
	66.6% { transform: rotateX(405deg) rotateY(405deg) rotateZ(45deg);   }
	100%  { transform: rotateX(405deg) rotateY(405deg) rotateZ(405deg); }
}
